<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Hubo un error</title>
</head>
<body>
    <div class="centered main">
        <h1 class="cuatrocero">404</h1>
        <h1>Hubo un error, el usuario no existe o la url no es válida.</h1>
    </div>

</body>
</html>