<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/main.css">
    <title>BIENVENIDO</title>
</head>
<body>
    <div class="centered main">
        <img src="/img/smrt_dashboard.png" alt="">
        <h1>¡HOLA <%= info %>!</h1>
        <p>Bienvenidos a Smart Dashboard, la herramienta que tu negocio necesita para crecer.</p>
        <p>Te damos las gracias por adquirir nuestro producto y confiar en nosotros. Tu registro en la herramienta ya está hecho, nos comunicaremos contigo cuando esté totalmente configurada y lista para usar.</p>
        <a href="https://www.lievant.com/media-analytics/smart-dashboard/" class="btn">Conoce más</a>
        <div class="flexCont">
            <div class="divCerts">
                <img src="/img/klipfolio2019.png" alt="">
                <img src="/img/mlcert.png" alt="">
                <img src="/img/mlogo.png" alt="">
                <img src="/img/shopisyli.png" alt="">
                <img src="/img/woocom.png" alt="">
                <img src="/img/magentologo.png" alt="">
                <img src="/img/prestashop.png" alt="">
                <img src="/img/amazonn.png" alt="">
            </div>
        </div>
    </div>

</body>
</html>